<h1>Weekday Calculator!</h1>

<form action="/weekday">
  <div class="form-group">
    <label for="date">Please enter a date:</label>
    <input id="date" name="date" class="form-control" type="text" placeholder="Example: 1/1/2011" autofocus>
  </div>
  <button type="submit" class="btn-success">Go!</button>
</form>
