<h1><span class="scrabble-title">S</span><span class="scrabble-title">C</span><span class="scrabble-title">R</span><span class="scrabble-title">A</span><span class="scrabble-title">B</span><span class="scrabble-title">B</span><span class="scrabble-title">L</span><span class="scrabble-title">E</span></h1>

<form action="/weekday">
  <div class="form-group">
    <label for="word">Please enter a word.</label>
    <input id="word" name="word" class="form-control" type="text" autofocus>
  </div>
  <button type="submit" class="btn-success">Go!</button>
</form>
